/* nav bar section */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
    
}
.image{
height: 74px;
border-radius: 99px;
margin: 12px 10px;
}
#container{
    display: flex;
    color: white;
}
#container::before{
    content: "";
    position: absolute;
    height: 28%;
    background-color: black;
    color: white;
    width: 100%;
    z-index: -1;
    opacity: 0.4;    
}
#container ul {
   list-style: none;
   display: flex;
}
#container ul li {
    margin: 37px 20px;
    font-size: 20px;
}

#container ul li a {
 text-decoration: none;
 display: block;
 margin-right: 3px;
 color: white;
}
#container ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 2px 2px;
}



/*heading section*/
.headings::before{
    content :"";
    position : absolute;
    background: url('./images/bg1.jpg') no-repeat center center/cover;
    height: 42%;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}
.headings h1 {
    margin-top: 38px;
    font-size: 53px;
    color: white;
}
.headings {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -12px;
    
}
.boxes {
    display: flex;
    margin: 20px;
    color: white;
}
/* section and lang start*/

.lang{
    display: flex;
    }
.section h1{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 33px;
}
.c a img {
    height: 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}
.c p {
    margin: 6px 30px;
}
.cplusplus a img {
    height: 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}
.cplusplus p {
    margin: 6px 30px;
}
.python a img {
    height: 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}
.python p {
    margin: 6px 30px ;
}
/*programs indifferent language*/
.programs{
    text-align: center;
    color:white;
}
.program{
    display: flex;
    color:white;
}
.program::before{
    content: "";
    position: absolute;
    background : url('./images/bg3.jpg') no-repeat center center/cover;
    width: 100%;
    height: 298px;
    z-index: -1;
    opacity: 0.89;
    margin-top: -58px;
}
.clang p{
    margin-top: 30px;
}
.cpluspluslang p{
    margin-top: 30px;
}
.pythonlang p{
    margin-top: 30px;
}
/*Contact ussection*/
.left img{
    width: 40%;
    height: 60%;
    position: absolute;
}
.right{
    float: right;
    width: 60%;

}
.contact h1 {
    margin: 20px 20px;
    text-align: center;
    font-size: 55px;
}
.registration{
    text-align: center;
    font-size: 30px;
}
.name{
    font-size: 30px;
}
.mobile{
    font-size: 30px;
}
.submit{
    text-align: center;
    font-size: 30px;
}
button {
    font-size: 26px;
    padding: 14px 58px;
    margin-top: 47px;
    border-radius: 4px;
    background-color: rgb(124, 118, 118);
   
}
.submit a{
text-decoration: none;
color: black;
}
.submit td :hover{
    background-color:rgb(155, 146, 146);
    
}
table {
    margin-left: 47px;
}

/*footer section*/

footer {
    margin-top: 440px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

 footer a{
     color: white;
     text-decoration: none;
     text-align: center;
 }

 /*section easylevel*/

 #containers{
    display: flex;
    flex-direction: row;
    background-color: rgb(70, 63, 63);
   
 }
 .image{
    border:2px solid  coral;
}
 #containers ul li a {
    display: flex;
    text-decoration: none;
    margin-left: 21px;
    font-size: 18px;
    margin-top: 29px;
    color: white;
}
#containers ul li a:hover {
    color: rgb(70, 63, 63);
    background-color: white;
    padding: 2px 2px;
}
#containers ul{
    display: flex;
}
 #containers ul li {
    margin-left: 20px;
    list-style: none;
 }
 .programs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
 }
 .programs::before{
    content: "";
    position: absolute;
    background: url("./images/sci.jpg") no-repeat center center/cover;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.79;
    
}
 .programs a{
     margin-bottom: 15px;
     
     font-size: 25px;
     color: black;
 }
 .heading{
     text-align: center;
     background-color: coral;
     
     margin-bottom: -20px;
 }
 .list{
    content: "";
    background: url("./images/sci.jpg") no-repeat center center/cover;
    width:100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    z-index: -1;
    opacity: 0.9;
 }
.list a{
    margin-bottom: 10px;
    margin-top: 20px;
    color: black;
    font-size: 20px;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

 .footer a{
     text-decoration: none;
     text-align: center;
     color: white;
 }
 
 
 /*program solution section*/
 
 #containers{
    display: flex;
    flex-direction: row;
    background-color: rgb(70, 63, 63);
   
 }
 .image{
    border:2px solid  coral;
}
 #containers ul li a {
    display: flex;
    text-decoration: none;
    margin-left: 21px;
    font-size: 18px;
    margin-top: 29px;
    color: white;
}
#containers ul li a:hover {
    color: rgb(70, 63, 63);
    background-color: white;
    padding: 2px 2px;
}
#containers ul{
    display: flex;
}
 #containers ul li {
    margin-left: 20px;
    list-style: none;
 }
.sum1 {
    margin: 18px 29px;
    width: 50%;
}
.sum {
    display: flex;
    
}
.numbers{
    font-size: 20px;
    margin-bottom: 8px;
}
.output {
    margin: 7px;
    width: 50%;
}
p.output1 {
    margin: 12px;
    font-size: 21px;
}
p.multi {
    margin-bottom: 13px;
}
.mul {
    margin: 16px 20px;
    width: 50%;
}
.multiply {
    display: flex;
}

.average{
    display: flex;
}
.avgnum{
    width: 50%;
    margin: 27px 26px;
}
.avgout{
    width: 50%;
    margin: 18px 6px;
    font-size: 20px;
}
.division{
    display: flex;
}
.div{
    margin: 12px 12px;
    width: 50%;
}
.outdiv{
    margin-left: 2px;
    width: 50%;
    font-size: 20px;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footer a{
     text-decoration: none;
     text-align: center;
     color: white;
 }